<app-nav-bar></app-nav-bar>
<div class="gestion_usuarios">
    <h2>Administración de usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td>
          <button class="btn btn-primary" (click)="openEditModal(usuario)">Editar</button>
          <button class="btn btn-danger" (click)="deleteUser(usuario.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <!-- Modal de edición -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Editar Usuario</h5>
        <button type="button" tabindex="-1" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editUserForm">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select id="rol" class="form-select" formControlName="rol">
              <option value="administrador">Admin</option>
              <option value="usuario">Usuario</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateUser()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
