<div class="home-container">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  
  <section class="about-us d-flex justify-content-center align-items-center mt-5">
    <div>
      <h2>Sobre Nosotros</h2>
      <p>En nuestra biblioteca digital, ofrecemos una amplia gama de libros electrónicos, revistas y otros recursos digitales.</p>
      <p>Historia: Desde 2024, nos hemos comprometido a proporcionar acceso fácil y rápido a la literatura y los recursos educativos.</p>
      <p>Misión: Facilitar el acceso a una vasta colección de recursos digitales para fomentar la lectura y el aprendizaje continuo.</p>
    </div>
  </section>
</div>
<app-about></app-about>
